.daypart-icon {
  overflow: hidden;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.daypart-icon svg {
  display: none !important;
}

.dayparts > article:nth-child(1) .daypart-icon {
  background-image: url("/AbramovGurme/dayparts/breakfast.png");
}

.dayparts > article:nth-child(2) .daypart-icon {
  background-image: url("/AbramovGurme/dayparts/lunch.png");
}

.dayparts > article:nth-child(3) .daypart-icon {
  background-image: url("/AbramovGurme/dayparts/dinner.png");
}

.dayparts > article:nth-child(4) .daypart-icon {
  background-image: url("/AbramovGurme/dayparts/bar.png");
}
